.App {
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 3rem;
  color: white;
}

.nav-menu {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border-top: 1px solid #00b894;
}

.nav-item {
  height: 6rem;
  cursor: pointer;
  text-align: center;
  line-height: 6rem;
  background-color: #303540;
}

.nav-item:hover {
  background-color: #434957;
}

.reserve-button {
  background-color: #009f80;
}

.reserve-button:hover {
  background-color: #008369;
}

.contents {
  padding-bottom: 2rem;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.table {
  margin-bottom: 0 !important;
}
